@model Hyushik_TournMan_Common.Models.LocalPasswordModel

<p>
    You do not have a local password for this site. Add a local
    password so you can log in without an external login.
</p>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Set Password Form</legend>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-sm-6">
                <input type="submit" value="Set password" class="btn btn-primary"/>
            </div>
        </div>
    </fieldset>
}
