@model Hyushik_TournMan_Web.Classes.ViewModels.WeaponsOrFormsListingViewModel

@{string prefix = string.Empty;}

<div>
    
    @if(Model.IsWeapons){
        <h2>Weapons</h2>
    }else{
        <h2>Forms</h2>
    }
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Score</th>
                @if (Roles.IsUserInRole(Hyushik_TournMan_Common.Constants.Constants.Roles.JUDGE_ROLE)){
                    <th>Add Weight to Score</th>
                    <th>Delete Entry</th>
                }
            </tr>
        </thead>
        <tbody>
    @foreach(var listing in Model.WeaponsOrFormsListings.OrderByDescending(wfl=>wfl.CurrentScore)){
        <tr>
            <td>@listing.ParticipantName</td>
            <td>@listing.CurrentScore</td>
            @if (Roles.IsUserInRole(Hyushik_TournMan_Common.Constants.Constants.Roles.JUDGE_ROLE)) { 
                <td>
                    @using (Html.BeginForm("UpdateWeaponOrFormScoring", "Scoring", FormMethod.Post)) { 
                        <input type="number" name="judgeScore" min="0" max="10" pattern="\d+"/>
                        <input type="hidden" name="tournId" value="@Model.RingId"/>
                        <input type="hidden" name="entryId" value="@listing.WeaponsOrFormsResultId"/>
                        <input type="hidden" name="isWeapon" value="@Model.IsWeapons.ToString()"/>
                        <button type="submit" class="btn btn-default btn-sm">Add Score</button>
                    }
                </td>
                <td>Delete</td>
            }
        </tr>
        
    }
    </table>
    @if (Roles.IsUserInRole(Hyushik_TournMan_Common.Constants.Constants.Roles.JUDGE_ROLE)) {
    <div>
        <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#popTechnique-@Model.IsWeapons.ToString()">Add New</button>

        @using (Html.BeginForm("NewWeaponOrFormScoring", "Scoring", FormMethod.Post)) {
            
            
            <!-- Modal -->
                <div class="modal fade" id="popTechnique-@Model.IsWeapons.ToString()" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Choose a Participant</h4>
                      </div>
                      <div class="modal-body">

                      <input type="hidden" name="ringId" value="@Model.RingId"/> 
                      @Html.DropDownList("partId", new SelectList(Model.Participants, "ParticipantId", "Name"), new { @class="form-control" })
                      <input type="hidden" name="isWeapon" value="@Model.IsWeapons.ToString()"/>

                      </div>
                      <div class="modal-footer">
                        <button class="btn btn-primary" type="submit">Add</button>
                      </div>
                    </div>
                  </div>
                </div>
        
            }

    </div>
    }

</div>