@model Hyushik_TournMan_Web.Classes.ViewModels.WeaponsOrFormsListingViewModel

@{string prefix = string.Empty;}
@{var UserCanSeeNonPublic = Roles.IsUserInRole(Hyushik_TournMan_Common.Constants.Constants.Roles.JUDGE_ROLE)
        || Roles.IsUserInRole(Hyushik_TournMan_Common.Constants.Constants.Roles.ADMINISTRATOR_ROLE);}


@{var IsPublic = (Model.IsWeapons && Model.Ring.WeaponResultsPublic) || (!Model.IsWeapons && Model.Ring.FormResultsPublic);}

<div>
    @if(Model.IsWeapons){
        <h2>Weapons</h2>
    }else{
        <h2>Forms</h2>
    }
     @if (Roles.IsUserInRole(Hyushik_TournMan_Common.Constants.Constants.Roles.JUDGE_ROLE))
    {
         using (Html.BeginForm(Model.IsWeapons ? "SetWeaponsPublic": "SetFormsPublic", "Ring", FormMethod.Post))
        {
            <input name="ringId" type="hidden" value="@Model.Ring.Id"/>
            if (Model.IsWeapons ? Model.Ring.WeaponResultsPublic : Model.Ring.FormResultsPublic)
            {
                <input name="status" type="hidden" value="false"/>
                <button>Make Private</button>
            }
             else
             {
                <input name="status" type="hidden" value="true"/>
                <button>Make Public</button>
             }

        }
    }
    
    @if (Model.WeaponsOrFormsListings.Count > 0 && (IsPublic || UserCanSeeNonPublic))
    {
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Score</th>
                    @if (Roles.IsUserInRole(Hyushik_TournMan_Common.Constants.Constants.Roles.JUDGE_ROLE)){
                        <th>Add Weight to Score</th>
                        <th>Delete Entry</th>
                    }
                </tr>
            </thead>
            <tbody>
        @foreach(var listing in Model.WeaponsOrFormsListings.OrderByDescending(wfl=>wfl.CurrentScore)){
            <tr>
                <td>@listing.ParticipantName</td>
                <td>@listing.CurrentScore</td>
                @if (Roles.IsUserInRole(Hyushik_TournMan_Common.Constants.Constants.Roles.JUDGE_ROLE)) { 
                    <td>
                        @using (Html.BeginForm("UpdateWeaponOrFormScoring", "Scoring", FormMethod.Post)) { 
                            <input type="number" name="judgeScore" min="0" max="10" step="1" pattern="\d+" required/>
                            <input type="hidden" name="ringId" value="@Model.Ring.Id"/>
                            <input type="hidden" name="entryId" value="@listing.WeaponsOrFormsResultId"/>
                            <input type="hidden" name="isWeapon" value="@Model.IsWeapons.ToString()"/>
                            <button type="submit" class="btn btn-default btn-sm">Add Score</button>
                        }
                    </td>
                    <td>
                        @using (Html.BeginForm(Model.IsWeapons ? "DeleteWeaponResult" : "DeleteFormResult", "Scoring", FormMethod.Post))
                        {
                            <input name="ringId" type="hidden" value="@Model.Ring.Id"/>
                            <input name="worfId" type="hidden" value="@listing.WeaponsOrFormsResultId"/>
                            <button type="submit" class="btn btn-sm btn-danger glyphicon glyphicon-remove"> </button>
                        }
                    </td>
                }
            </tr>
        
        }


        </table>
    }else if(Model.IsWeapons){
        <span>No current weapon results</span>
    }else{
        <span>No current form results</span>
    }
    
    @if (Roles.IsUserInRole(Hyushik_TournMan_Common.Constants.Constants.Roles.JUDGE_ROLE)) {
    <div>
        <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#popTechnique-@Model.IsWeapons.ToString()">Add New</button>

        @using (Html.BeginForm("NewWeaponOrFormScoring", "Scoring", FormMethod.Post)) {
            
            
            <!-- Modal -->
                <div class="modal fade" id="popTechnique-@Model.IsWeapons.ToString()" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Choose a Participant</h4>
                      </div>
                      <div class="modal-body">

                      <input type="hidden" name="ringId" value="@Model.Ring.Id"/> 
                      @Html.EditorFor(m=>m.ParticipantSelection)
                      <input type="hidden" name="isWeapon" value="@Model.IsWeapons.ToString()"/>

                      </div>
                      <div class="modal-footer">
                        <button class="btn btn-primary" type="submit">Add</button>
                      </div>
                    </div>
                  </div>
                </div>
        
            }

    </div>
    }

</div>