@model Hyushik_TournMan_Web.Classes.ViewModels.WeaponsOrFormsListingViewModel

@{string prefix = string.Empty;}

<div>
    
    @if(Model.IsWeapons){
        <h2>Weapons</h2>
    }else{
        <h2>Forms</h2>
    }
    <div>
    @foreach(var listing in Model.WeaponsOrFormsListings.OrderByDescending(wfl=>wfl.CurrentScore)){
        <div>
            <span>@listing.ParticipantName</span>
            <span>Current Score: @listing.CurrentScore</span>
            @if (Roles.IsUserInRole(Hyushik_TournMan_Common.Constants.Constants.Roles.JUDGE_ROLE)) { 
                using (Html.BeginForm("UpdateWeaponOrFormScoring", "Scoring", FormMethod.Post)) { 
                    <input type="number" name="judgeScore" min="0" max="10" pattern="\d+"/>
                    <input type="hidden" name="tournId" value="@Model.TournamentId"/>
                    <input type="hidden" name="entryId" value="@listing.WeaponsOrFormsResultId"/>
                    <input type="hidden" name="isWeapon" value="@Model.IsWeapons.ToString()"/>
                    <button type="submit">Add Score</button>
                }
            }
        </div>
        
    }
    </div>
    @if (Roles.IsUserInRole(Hyushik_TournMan_Common.Constants.Constants.Roles.JUDGE_ROLE)) {
    <div>
        <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#popTechnique-@Model.IsWeapons.ToString()">Add New</button>

        @using (Html.BeginForm("NewWeaponOrFormScoring", "Scoring", FormMethod.Post)) {
            
            
            <!-- Modal -->
                <div class="modal fade" id="popTechnique-@Model.IsWeapons.ToString()" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Choose a Participant</h4>
                      </div>
                      <div class="modal-body">

                      <input type="hidden" name="tournId" value="@Model.TournamentId"/> 
                      @Html.DropDownList("partId", new SelectList(Model.Participants, "ParticipantId", "Name"), new { @class="form-control" })
                      <input type="hidden" name="isWeapon" value="@Model.IsWeapons.ToString()"/>

                      </div>
                      <div class="modal-footer">
                        <button class="btn btn-primary" type="submit">Add</button>
                      </div>
                    </div>
                  </div>
                </div>
        
            }

    </div>
    }

</div>