@model Hyushik_TournMan_Web.Classes.ViewModels.BoardsViewModel

<span class="board sectionTop"><button class = "displayBoard">Boards</button></span>
<ul>
    <li>(
        @Html.TextBoxFor(model=>model.Height) in x
        @Html.TextBoxFor(model=>model.Depth)in) X
        @Html.TextBoxFor(model=>model.Amount)num</li>
    <li>
        @Html.CheckBoxFor(model=>model.SpeedBreak)Speed Break
    </li>
    <li>
        @Html.CheckBoxFor(model=>model.Spacers)Spacers
    </li>
    <li class = "sectionBack">
        <button>Done</button>
    </li>
</ul>