@model Technique
@using Hyushik_TournMan_Common.Models;

@helper ToggleableTechniqueDisplay(Technique tech){
    <label>
        @Html.CheckBoxFor(model=>model.Selected)
        @tech.Name
    </label>
}

@helper NormalTechniqueDisplay(Technique tech){
    <span class="CollapsibleList"><button>@tech.Name</button></span>
    @Html.Partial("_BreakingEntryTechniqueList", @tech.SubTechniques);
}

@if(Model.Toggleable){
    @ToggleableTechniqueDisplay(Model)
}
else{
    @NormalTechniqueDisplay(Model)
}