@model Hyushik_TournMan_Web.Classes.ViewModels.BreakingStoredValuesViewModel

    
    @using (Html.BeginForm("SetBreakingStoredValues", "Admin", FormMethod.Post))
    {
    <div class="row">
        <h3>Breaking Values</h3>
        <hr />
        <div class="col-md-4 col-sm-6 col-xs-12">
            <abbr>Max Station Count</abbr>
            @Html.TextBoxFor(model=>model.BreakingMaxStationCount, new { @class = "form-control"})
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <abbr>Board Exponent</abbr>
            @Html.TextBoxFor(model=>model.BreakingBoardExponent, new { @class = "form-control"})
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <abbr>Maximum Boards</abbr>
            @Html.TextBoxFor(model=>model.BreakingMaximumBoards, new { @class = "form-control"})
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <abbr>Maximum Attempts</abbr>
            @Html.TextBoxFor(model=>model.BreakingMaximumAttempts, new { @class = "form-control"})
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <abbr>Attempt Decay Rate</abbr>
            @Html.TextBoxFor(model=>model.BreakingAttemptDecayRate, new { @class = "form-control"})
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <abbr>Spacer Penalty</abbr>
            @Html.TextBoxFor(model=>model.BreakingSpacerPenalty, new { @class = "form-control"})
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <abbr>Power Hold Penalty</abbr>
            @Html.TextBoxFor(model=>model.BreakingPowerHoldPenalty, new { @class = "form-control"})
        </div>
        
        <div class="col-md-4 col-sm-6 col-xs-12">
            <abbr>Judge Weight</abbr>
            @Html.TextBoxFor(model=>model.BreakingJudgeWeight, new { @class = "form-control"})
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <abbr>Max Score</abbr>
            @Html.TextBoxFor(model=>model.BreakingMaxScore, new { @class = "form-control"})
        </div>
        
        <div class="col-md-4 col-sm-6 col-xs-12">
            <abbr title="Please use comma separated values">Possible Board Widths</abbr>
            @Html.TextBoxFor(model=>model.PossibleBoardWidths, new { @class = "form-control"})
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <abbr title="Please use comma separated values">Possible Board Depths</abbr>
            @Html.TextBoxFor(model=>model.PossibleBoardDepths, new { @class = "form-control"})
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <input type="submit" value="Update Values" class="btn btn-primary" />
        </div>
    </div>
    }
    