@model Hyushik_TournMan_Web.Classes.ViewModels.TechniquesViewModel
@using Hyushik_TournMan_Common.Models

<script>
    $(document).ready(function () {
        $('.tech-edit').hide();
        $('.tech-new-edit').hide();

        $('.tech-edit-button').click(function(){
            $(this).siblings('.tech-edit').toggle();
            $(this).siblings('.tech-show').toggle();
            $(this).toggle();
        });

        $('.tech-new-edit-button').click(function () {
            $(this).siblings('.tech-new-edit').toggle();
            $(this).siblings('.tech-new-show').toggle();
            $(this).toggle();
        });
        $('.tech-delete-button').click(function () {
            var id = $(this).siblings('[name=techId]').val();
            $('#deleteTechId').val(id);
            $('#delete-button').click();
        });
    });
</script>

@using (Html.BeginForm("DeleteTechnique", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="hidden">
                <input id="deleteTechId" type="hidden" name="techId" value="-1"/>
                <button id="delete-button" type="submit"/>
            </div>
        }

@helper PrintTechnique(Technique tech)
{   
    
        using (Html.BeginForm("UpdateTechnique", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" })){
            <input type="hidden" name="techId" value="@tech.Id"/>
            <span class="tech-show">@tech.Name</span><input type="text" name="techName" class="tech-edit" value="@tech.Name"/>
            <span> Weight:</span><span class="tech-show">@tech.Weight</span><input name="techWeight" type="number" class="tech-edit" value="@tech.Weight"/>
            <span> Toggleable:</span>@Html.CheckBox("techPriorToggleable", @tech.Toggleable,  new { @class="tech-show", disabled="disabled" })@Html.CheckBox("techToggleable", @tech.Toggleable,  new { @class="tech-edit" })
            <a class="tech-show tech-edit-button">Edit</a> <a class="tech-edit tech-edit-button">Cancel Edit</a>
            <button type="submit" class="tech-edit">Update</button >
            <a class="tech-edit tech-delete-button">Delete</a>
        }
        
        if (tech.Toggleable)
        {
            return;
        }
        <ul>
            <li>
                @using (Html.BeginForm("AddTechnique", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <a class="tech-new-show tech-new-edit-button">Add Subtechnique</a>
                    <input name="parentId" type="hidden" value="@tech.Id">
                    <input type="text" name="techName" class="tech-new-edit" value="New Technique"/>
                    <span class="tech-new-edit"> Weight:</span><input type="number" name="techWeight" class="tech-new-edit" value="0"/>
                    <span class="tech-new-edit"> Toggleable:</span>@Html.CheckBox("techToggleable", @tech.Toggleable, new { @class = "tech-new-edit" })
                    <a class="tech-new-edit tech-new-edit-button">Cancel</a>
                    <button type="submit" class="tech-new-edit">Add</button >
                }
            </li>
            @foreach (var subTech in tech.SubTechniques)
            {
                <li>@PrintTechnique(subTech)</li>
            }
        </ul>
}


<div>
    <h2>Techniques</h2>
    <div>
        <ul>
            <li>
                @using (Html.BeginForm("AddTechnique", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <a class="tech-new-show tech-new-edit-button">Add Technique</a>
                    <input name="parentId" type="hidden" value="-1">
                    <input type="text" name="techName" class="tech-new-edit" value="New Technique"/>
                    <span class="tech-new-edit"> Weight:</span><input type="number" name="techWeight" class="tech-new-edit" value="0"/>
                    <span class="tech-new-edit"> Toggleable:</span>@Html.CheckBox("techToggleable", false, new { @class = "tech-new-edit" })
                    <a class="tech-new-edit tech-new-edit-button">Cancel</a>
                    <button type="submit" class="tech-new-edit">Add</button >
                }
            </li>
            @foreach (var tech in Model.Techniques)
            {
                <li> @PrintTechnique(tech)</li>
            }
         </ul>
        
    </div>
</div>