@model Hyushik_TournMan_Web.Classes.ViewModels.TechniquesViewModel
@using Hyushik_TournMan_Common.Models

<script>

    $(document).ready(function () {
        $('.tech-edit').hide();
        $('.tech-new-edit').hide();

        $('.tech-edit-button').click(function(){
            $(this).siblings('.tech-edit').toggle();
            $(this).siblings('.tech-show').toggle();
            $(this).toggle();
        });

        $('.tech-new-edit-button').click(function () {
            $(this).siblings('.tech-new-edit').toggle();
            $(this).siblings('.tech-new-show').toggle();
            $(this).toggle();
        });
        $('.tech-delete-button').click(function () {
            var id = $(this).siblings('[name=techId]').val();
            $('#deleteTechId').val(id);
            $('#delete-button').click();
        });

        $('.tech-weight-toggle').click(function () {
            toggleWeights($(this));
        });
    });
</script>

@using (Html.BeginForm("DeleteTechnique", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
            <div class="hidden">
                <input id="deleteTechId" type="hidden" name="techId" value="-1"/>
                <button id="delete-button" type="submit"/>
            </div>
}

@helper PrintTechnique(Technique tech)
{   
    
    using (Html.BeginForm("UpdateTechnique", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
            <input type="hidden" name="techId" value="@tech.Id"/>
            <span class="tech-show">@tech.Name</span><input type="text" name="techName" class="tech-edit" value="@tech.Name"/>
            if(tech.CanHaveWeight){
                <span> Weight:</span><span class="tech-show">@tech.Weight</span><input name="techWeight" type="number" class="tech-edit" value="@tech.Weight"/>
            }else{
                <input name="techWeight" type="hidden" class="tech-edit" value="@tech.Weight"/>
            }    
            <span> Toggleable:</span>@Html.CheckBox("techPriorToggleable", @tech.Toggleable, new { @class = "tech-show", disabled = "disabled" })@Html.CheckBox("techToggleable", @tech.Toggleable, new { @class = "tech-edit tech-weight-toggle" })
            <a class="tech-show tech-edit-button">Edit</a> <a class="tech-edit tech-edit-button">Cancel Edit</a>
            <button type="submit" class="tech-edit">Update</button >
            <a class="tech-edit tech-delete-button">Delete</a>
    }

    if (tech.Toggleable)
    {
        return;
    }
        <ul>
            
            @foreach (var subTech in tech.SubTechniques)
            {
                <li class="list-group-item">@PrintTechnique(subTech)</li>
            }
            <li class="list-group-item">
                @using (Html.BeginForm("AddTechnique", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <a class="tech-new-show tech-new-edit-button">Add Subtechnique</a>
                    <input name="parentId" type="hidden" value="@tech.Id">
                    <input type="text" name="techName" class="tech-new-edit" value="New Technique"/>
                    <span class="tech-edit">
                        <span class="tech-weight"> Weight:<input type="number" name="techWeight"  value="0"/></span>
                        <span>Toggleable: </span>@Html.CheckBox("techToggleable", false, new { @class = "tech-weight-toggle" })
                    </span>
                    <a class="tech-new-edit tech-new-edit-button">Cancel</a>
                    <button type="submit" class="tech-new-edit">Add</button >
                }
            </li>
        </ul>
}


<div class="row">
    <div class="col-sm-12">
    <h3>Techniques</h3>
    <hr />
    <div>
        <ul class="list-group">
            @foreach (var tech in Model.Techniques)
            {
                <li class="list-group-item"> @PrintTechnique(tech)</li>
            }
         </ul>   

        @using (Html.BeginForm("AddTechnique", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="button" value="Add Technique" class="tech-new-show tech-new-edit-button btn btn-primary btn-sm" />
            <input name="parentId" type="hidden" value="-1">
            <input type="text" name="techName" class="tech-new-edit" value="New Technique"/>
            <span class="tech-new-edit">
                <span class="tech-weight"> Weight:<input type="number" name="techWeight"  value="0"/></span>
                <span>Toggleable: </span>@Html.CheckBox("techToggleable", false, new { @class = "tech-weight-toggle" })
            </span>
            <a class="tech-new-edit tech-new-edit-button">Cancel</a>
            <button type="submit" class="tech-new-edit">Add</button >
        }
    </div>
</div></div>