@using Hyushik_TournMan_Common.Constants;
@model Hyushik_TournMan_Web.Classes.ViewModels.UserRolesViewModel

<div class="row top-buffer">
    <h3>User Roles</h3>
    <hr />
    @if (Model.Users.Count < 1)
    {
        <span>No Users Found</span>
    }
    else 
    {
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Judge</th>
                    <th>Admin</th>
                </tr>
            <tbody>
            @foreach (var userProfile in Model.Users) {
                <tr>
                    <td>
                        @userProfile.UserName
                    </td>
                    <td>
                        @if (Model.UserNameToRoles[userProfile.UserName].Contains(Constants.Roles.JUDGE_ROLE))
                        {  
                            using (Html.BeginForm("RevokeRole", "Admin", FormMethod.Post))
                            { 
                                <input type="hidden" name="userName" value="@userProfile.UserName" />
                                <input type="hidden" name="roleName" value="@Constants.Roles.JUDGE_ROLE" />
                                
                                <input type="submit" value="Remove" class="btn btn-danger btn-sm"/>
                            }
                        }
                        else { 
                            using (Html.BeginForm("AddRole", "Admin", FormMethod.Post))
                            { 
                                <input type="hidden" name="userName" value="@userProfile.UserName" />
                                <input type="hidden" name="roleName" value="@Constants.Roles.JUDGE_ROLE" />
                                
                                <input type="submit" value="Make" class="btn btn-success btn-sm"/>
                            }
                        }
                    </td>
                    <td>
                        @if (Model.UserNameToRoles[userProfile.UserName].Contains(Constants.Roles.ADMINISTRATOR_ROLE))
                        {
                            using (Html.BeginForm("RevokeRole", "Admin", FormMethod.Post))
                            { 
                                <input type="hidden" name="userName" value="@userProfile.UserName" />
                                <input type="hidden" name="roleName" value="@Constants.Roles.ADMINISTRATOR_ROLE" />
                                if (User.Identity.Name == userProfile.UserName)
                                {
                                    <input type="submit" value="Remove" class="btn btn-danger btn-sm" disabled/>
                                }
                                else { 
                                    <input type="submit" value="Remove" class="btn btn-danger btn-sm"/>
                                }
                                
                            }
                        }
                        else {
                            using (Html.BeginForm("AddRole", "Admin", FormMethod.Post))
                            { 
                                <input type="hidden" name="userName" value="@userProfile.UserName" />
                                <input type="hidden" name="roleName" value="@Constants.Roles.ADMINISTRATOR_ROLE" />
                                
                                <input type="submit" value="Make" class="btn btn-success btn-sm"/>
                            }
                        }
                    </td>
                </tr> 
            }
            
            </tbody>
        </table>
        </div>
    </div>
    }
</div>