@model Hyushik_TournMan_Web.Classes.ViewModels.ParticipantCardViewModel
<div>

    <div>Name: <span>@Model.Participant.Name</span></div>
    <div><img src="@Model.QRCodeBase64Img"></div>
    <div>Gender: <span>@Model.Participant.Gender</span></div>
    <div>Rank: <span>@Model.Participant.Rank</span></div>
    <div>Breaking: <span>@Model.Participant.Age</span></div>
    <div>Weapons: <span>@Model.Participant.Weapons</span></div>
    <div>Forms: <span>@Model.Participant.Weapons</span></div>
    <div>Point Sparring: <span>@Model.Participant.PointSparring</span></div>
    <div>Olympic Sparring: <span>@Model.Participant.OlympicSparring</span></div>

</div>