@model Hyushik_TournMan_Web.Classes.ViewModels.ParticipantCardViewModel
<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-4">
        <img src="@Model.QRCodeBase64Img">
    </div>
    <div class="col-xs-6 col-sm-6 col-md-4" style="padding-top:20px" >
        <h3>@Model.Participant.Name</h3>
        <div>Gender: <span>@Model.Participant.Gender</span></div>
        <div>Rank: <span>@Model.Participant.Rank</span></div>
        <div>Breaking: <span>@Model.Participant.Age</span></div>
        <div>Weapons: <span>@Model.Participant.Weapons</span></div>
        <div>Forms: <span>@Model.Participant.Weapons</span></div>
        <div>Point Sparring: <span>@Model.Participant.PointSparring</span></div>
        <div>Olympic Sparring: <span>@Model.Participant.OlympicSparring</span></div>
    </div>
</div>