@model Hyushik_TournMan_Common.Models.ParticipantSelection

<div>

    @Html.HiddenFor(m=>m.RingId)
    @Html.HiddenFor(m=>m.TournId)
    <div>
        <span>Participant Selection</span> 
        @Html.DropDownListFor(m => m.ParticipantId, 
            new SelectList(Model.Participants.OrderBy(p=>p.Name), "ParticipantId", "Name"), 
            "", new { @class="form-control p-name-dropdown" })
    </div>
    <div class="checkbox">
        <label>Create New Participant
            @Html.CheckBoxFor(m=>m.CreateNewParticipant, new { @class="p-name-checkbox", @onClick="toggleParticipantInputs(this);"})
        </label> 
    </div>
    <div>
        @Html.TextBoxFor(m=>m.NewParticipantName, new { @class = "form-control p-name-tex-box", @placeholder="Name", @style="display: none;"})
    </div>

</div>